.advertNotification{
    position: absolute;
    padding: 20px;
    left: 50%;
    z-index: var(--windows-z-index);
    border-radius: var(--windows-border-radius);
    border: 5px solid var(--yellow-advert);
    top: var(--windows-top);
    transform: translate(-50%, 0);
    color: var(--yellow-advert);
    background: white;
    animation: openAdvertNotificationShow 0.9s ease-in-out;
    animation-delay: 0s;
}
.advertNotification > h1{
    margin-bottom: 20px;
    text-decoration: underline;
}
.advertNotification > img{
    position: fixed;
    width: 20%;
    max-width: 85px;
    right: -0;
    bottom: 0;
    transform: translate(30%, 30%);
    filter: drop-shadow(0px 0px 4px #c59a00);
    animation: advertNotificationIconShow 1.2s ease-in-out;
    user-select: none;
}

@media (max-width: 780px) {
    .advertNotification{
        width: 80%;
    }
}

@keyframes advertNotificationIconShow{
    0%{
        transform: translate(55%, 30%);
        opacity: 0;
        filter: drop-shadow(0px 0px 0px #c59a00);
    }
    100%{
        transform: translate(30%, 30%);
        opacity: 1;
        filter: drop-shadow(0px 0px 4px #c59a00);
    }
}
@keyframes openAdvertNotificationShow {
    0%{
        transform: translate(-50%, 10%);
        opacity: 0;
    }
    100%{
        transform: translate(-50%, 0%);
        opacity: 1;
    }
}