.createNoteDisplay{
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--windows-z-index);
    width: 400px;
    height: 500px;
    background: white;
    border-radius: 5px;
    animation: openCreateNoteDisplayAni var(--windows-animation);
}
.createNoteDisplay > form{
        display: block;
        height: 300px;
        padding: 10px;
}
.createNoteDisplay > form > section{
    height: 280px;
    overflow: hidden;
}
.createNoteDisplay > .createNoteDisplayIconBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .2;
    z-index: -1;
    animation: showCreateNoteDisplayBackground 0.2s ease-in-out;
}
.createNoteDisplay > .createNoteDisplayIconBackground > img{
    width: 40%;
}
.createNoteDisplay > form > section > .createNoteDisplayFirstLabel{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.createNoteDisplay > form > section > .createNoteDisplayFirstLabel > section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: auto;
}
.createNoteDisplay > form > section > .createNoteDisplayFirstLabel > input[type="text"]{
    border: none;
    color: var(--medium-black);
    font-size: 1.2em;
    padding: 7px;
    width: 80%;
    margin-left: 10px;
    background-color: transparent;
}
.NoteImageSelect{
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: url("../add-image.png");
    background-attachment: fixed;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    margin-left: 20px;
    margin-right: 10px;
    overflow: hidden;
}
.NoteImageSelect > .selectNoteImageInput{
    opacity: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 0;
}
.createNoteDisplay > form > section > .createNoteDisplaySecondLabel{
    display: block;
    height: 200px;
}
.createNoteDisplay > form > section > .createNoteDisplaySecondLabel > textarea{
    border: none;
    padding: 10px;
    padding-left: 15px;
    font-size: 1em;
    height: 95%;
    width: 90%;
    resize: none;
    background: transparent;
}
.createNoteDisplay > form > div > h1{
    margin: 10px
}
.createNoteDisplay > form > div > section{
    display: block;
    width: calc(100% - 15px);
    max-height: 80px;
    padding-left: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    box-shadow: inset 0px 0px 5px 1px var(--low-black);
    border-radius: 8px;
    overflow-y: auto;
}
.createNoteDisplay > form > div > section > p{
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 5px;
    user-select: none;
}
.createNoteDisplay > form > div > section > p > img{
    width: 15px;
    margin-right: 5px
}
.createNoteDisplay > form > div > h1{
    font-size: 1.3em;
    color: var(--medium-black);

}
.createNoteDisplay > form > button{
    position: absolute;
    bottom: 15px;
    right: 15px;
    border: none;
    border-radius: 4px;
    background-color: var(--secondary-color);
    padding: 6px;
    color: white;
    cursor: pointer;
    font-size: .95em;
}

@keyframes openCreateNoteDisplayAni {
    0%{
        top: 18%;
        opacity: 0;
    }
    100%{
        top: 16%;
        opacity: 1;
    }
}

@media (max-width: 780px){
    .createNoteDisplay{
        width: 90%;
        height: 70%;
    }
    .createNoteDisplay > form > button{
        position: absolute;
        bottom: -40px;
    }
}
@keyframes showCreateNoteDisplayBackground {
    from{
        opacity: 0;
    }
    to{
        opacity: .2;
    }
}