.createTagDisplay{
    position: absolute;
    z-index: var(--windows-z-index);
    display: block;
    top: var(--windows-top);
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: var(--windows-padding);
    border-radius: var(--windows-border-radius);
    animation: openCreateTagDisplayAni var(--windows-animation);
}
.createTagDisplay > input{
    border: none;
    height: 25px;
    font-size: 1em;
    padding: 5px;
    border-radius: var(--windows-border-radius);
}